*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
html,body{
    height: 100%;
    width: 100%;
}
/* #box{
    height: 300px;
    width: 300px;
    background-color: crimson;
} */
 .box1{
    height: 250px;
    width: 250px;
    background-color: crimson;
}
 .box2{
    height: 250px;
    width: 250px;
    background-color: royalblue;
}
 .box3{
    height: 250px;
    width: 250px;
    background-color: lightseagreen;
}