*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    height: 100%;
    width: 100%;
    font-family: 'Gilroy';
}
body{
    overflow-x: hidden;
}
.page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
.page2{
    height: 100%;
    width: 100%;
    background-color:skyblue;
}
.page3{
    height: 100%;
    width: 100%;
    background-color: black;
}
.page2 h1{
    font-size: 40vw;
    font-weight: 500;
   
}